<%- include("header"); -%>
    <h2>About</h2>
    <p class="item"><em>I am created a highly efficient to-do list website that is helping people better manage their daily tasks. The website boasts
a user-friendly interface that makes organizing schedules and responsibilities a breeze. Busy individuals looking to
streamline their daily tasks will find this website to be the perfect solution. With Prince Ranjan's innovative approach
to task management, users can easily prioritize their to-do lists and stay on top of their goals. Thanks to his website,
people are able to be more productive and accomplish more each day..</em></p>
    <%- include("footer"); -%>